#!/bin/sh
# Config should be stored in the environment https://www.12factor.net/config
# Comments like this one are ignored
# Copy this file to ".env" in this folder and set the variable values
hsm_pin="${HSM_PIN}"
hsm_key_id="${HSM_KEY_ID}"
hsm_slot="${HSM_SLOT}"
neuron_id="${PROPOSER_NEURON_INDEX}"
IC_ADMIN="ic-admin"
DFX="dfx"
nns_url="http://[2a00:fb01:400:100:5000:5bff:fe6b:75c6]:8080"
backend_url="some_url"
DATABASE_URL="~/.cache/release-cli-state.sqlite3"
