#!/bin/sh
# Config should be stored in the environment https://www.12factor.net/config
# Comments like this one are ignored
# Copy this file to ".env" in this folder and set the variable values
HSM_PIN="${HSM_PIN}"
HSM_KEY_ID="${HSM_KEY_ID}"
HSM_SLOT="${HSM_SLOT}"
NEURON_ID="${PROPOSER_NEURON_INDEX}"
IC_ADMIN="ic-admin"
DFX="dfx"
NNS_URL="http://[2a00:fb01:400:100:5000:5bff:fe6b:75c6]:8080"
# BACKEND_URL="some_url"
