[package]
name = "config-writer-common"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossbeam = { workspace = true }
crossbeam-channel = { workspace = true }
erased-serde = { workspace = true }
ic-types = { workspace = true }
ic-sys = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
service-discovery = { path = "../service-discovery" }
slog = { workspace = true }
