[package]
name = "ic-management-backend"
version.workspace = true
authors.workspace = true
edition.workspace = true
description.workspace = true
documentation.workspace = true

[dependencies]
actix-web = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
backon = { workspace = true }
candid = { workspace = true }
chrono = { workspace = true }
csv = { workspace = true }
custom_error = { workspace = true }
decentralization = { path = "../decentralization" }
derive_builder = { workspace = true }
dirs = { workspace = true }
dotenv = { workspace = true }
env_logger = { workspace = true }
exitcode = { workspace = true }
fs2 = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
gitlab = { workspace = true }
hyper = { workspace = true }
ic-agent = { workspace = true }
ic-base-types = { workspace = true }
ic-canisters = { path = "../ic-canisters" }
ic-interfaces-registry = { workspace = true }
ic-management-types = { path = "../ic-management-types" }
ic-nns-constants = { workspace = true }
ic-nns-governance = { workspace = true }
ic-protobuf = { workspace = true }
ic-registry-client = { workspace = true }
ic-registry-client-fake = { workspace = true }
ic-registry-client-helpers = { workspace = true }
ic-registry-common-proto = { workspace = true }
ic-registry-keys = { workspace = true }
ic-registry-local-registry = { workspace = true }
ic-registry-local-store = { workspace = true }
ic-registry-nns-data-provider = { workspace = true }
ic-registry-subnet-type = { workspace = true }
ic-types = { workspace = true }
itertools = { workspace = true }
lazy_static = { workspace = true }
log = { workspace = true }
prometheus-http-query = { workspace = true }
regex = { workspace = true }
registry-canister = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tokio = { workspace = true }
url = { workspace = true }
clap = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
actix-rt = { workspace = true }


[[bin]]
name = "ic-management-backend"
path = "src/main.rs"

[lib]
name = "ic_management_backend"
path = "src/lib.rs"
