[package]
name = "trustworthy-node-metrics"
version.workspace = true
authors.workspace = true
edition.workspace = true
description.workspace = true
documentation.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[dependencies]
candid = { workspace = true }
ic-cdk = { workspace = true }
ic-cdk-timers = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-stable-structures = { workspace = true }
itertools = { workspace = true }
futures = { workspace = true }
anyhow = { workspace = true }
ic-management-canister-types = { workspace = true }
ic-protobuf = { workspace = true }
ic-nns-common = { workspace = true }
dfn_core = { workspace = true }
trustworthy-node-metrics-types = { workspace = true }
