name: Bazel
on: [push]
jobs:
  bazel:
    runs-on: ubuntu-22.04
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          # this might remove tools that are actually needed,
          # when set to "true" but frees about 6 GB
          tool-cache: true
          large-packages: false  # this is slow
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v2
      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          # Configure cache updates
          # https://github.com/actions/cache/blob/main/tips-and-workarounds.md#update-a-cache
          # https://github.com/actions/cache/blob/main/examples.md#---bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE', 'WORKSPACE.bazel', 'MODULE.bazel', 'Cargo.Bazel.lock') }}
          restore-keys: |
            ${{ runner.os }}-bazel-
      - run: bazel build ...
      - run: bazel test ...
      - name: Optimize bazel cache directory before uploading
        run: bin/optimize-bazel-cache.sh
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get bazel binaries, so they can be pushed as GitHub artifacts in the next step
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          set -eExuo pipefail
          # query the location of the bazel "dre" binary and copy it to the "release" directory
          mkdir -p release
          cp --dereference bazel-out/k8-opt/bin/rs/cli/dre release/dre
          chmod +x release/dre
      - name: Create a new GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        # v0.1.15
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body_path: CHANGELOG.md
          generate_release_notes: true
          draft: true
          prerelease: true
          files: |
            release/*
      - name: Push images to GitHub Container Registry
        if: startsWith(github.ref, 'refs/tags/v')
        run:
          bazel query --noshow_progress 'kind("oci_push", ...)' | xargs -I_target bazel run _target -- --tag ${GITHUB_SHA}
